doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title Tap In
    body
        div.container.mt-2.text-center
            header
                h2(style="padding-bottom: 15px") TapIn!
            section
                ul(style="padding-inline-start: 0px; padding-top=15px")
                  each account in accounts.length ? accounts : ["No accounts!"]
                    div.col-md-12.text-center
                        a(href=`${account.link}` style=`width: 100%; background-color: #${colors.get(account.name)}` class="btn btn-primary btn-lg btn-block")= account.name.charAt(0).toUpperCase() + account.name.slice(1)
